#outerzone {
    text-align: center;
}
#appzone {
    display: inline-block;
    text-align: left;
    width: 860px;
}
#headerzone {
    position: absolute;
    background-color: red;
    width: 860px;
    height: 120px;
    border-radius: 10px 10px 0px 10px;
}
#mainzone {
    background-color: yellow;
    position: absolute;
    top: 120px;
    width: 860px;
}
div.bigtitle {
    font-weight: bolder;
    font-size: 70;
    color: white;
    text-align: center;
    font-family:sans-serif;
}
div.smalltitle {
    font-weight: bold;
    font-size: 15;
    color: white;
    text-align: center;
    font-family:sans-serif;
}
div.worldinner {
    top: 0px;
    margin: 20px;
}
/* I have this twocolumn thing.... it may not be necessary*/
div.twocolumns {
    position: relative;
    left: 0px;
    right: 0px;
}
div.odov {
    position: absolute;
    padding-top: 1px;       /* wtf!? */
    padding-bottom: 1px;    /* wtf!? */
    top: 0px;
    right: 0px; /* 5px */
    width: 390px;
    background-color: red;
    border-radius: 10px;
}

div.opov {
    position: relative;
    padding-top: 1px;       /* wtf!? */
    padding-bottom: 1px;    /* wtf!? */
    width: 390px;

    background-color: gray;
    border-radius: 10px;
}

div.chart {
    width: 330px;
    height: 280px;
    margin-left: 10px;
}

div.sectioncomment {
    width : 400px;
    margin-top: 20px;
    margin-bottom: 20px;
}

div.login {
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;
}


